/* Add CSS Styling */

#ID-2 {
    font-size: 50px;
    color: blue;
}

#ID-4 {
    font-size: 45px;
    background-color: hsla(99 100% 60% / 0.75);
    font-weight: bold;
}

.class {
    background-color:hsla(1 100% 60% / 0.5);
    font-size: 30px;
}

.class.cooler {
    font-size: 60px;
}