body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  padding: 10px;
  background: #e3f4ff;
  font-size: 20px;
}

.content {
  background: #e3f4ff;
  margin-top: 10px;
  padding: 20px 5px 20px 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 10px;
}

button {
  display: block;
  margin: 10px auto;
  background: white;
  border: 1px solid #eee;
  padding: 15px 30px;
}